body {
	background-color: #E6E6E6;
}

#header {
	background-color: #D0D0D0;
	float:top;
}

#email {
	text-align: center;
	vertical-align: top;
}

.nav {
	color:blue;
	text-align: center;
}

.content {
	text-align: left;
	padding: 10px 100px 100px 100px;
	margin-left: auto;
	margin-right: auto;
}

a:hover, a:visited, a:link {
	color:#4690CD;
}

a:hover {
	color: #8AC007;
}

.nav a:hover {
	font-weight: bold;

	/*border: 2px solid #8AC007;*/
}

#selected {
	color: gray;
	font-weight: bold;
}

.row li{
	list-style-type: none;
}

.images {
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.images img {
	width:40%;
	padding: 10px;
}